@model PlanoContaModel
@{
    ViewData["Title"] = "Criar Planos Contas";
    var  vDescricao = string.Empty;
    var vTipo = string.Empty;

    try{
      vDescricao = @ViewBag.PlanoConta.Descricao;
      vTipo = @ViewBag.PlanoConta.Tipo;
    }
    catch{}
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="PlanoConta" asp-action="CriarPlanoConta">
  
  <input type="text" asp-for="Id"><br>

  <label for="fname">Descricao:</label><br>
  <input type="text" asp-for="Descricao"><br>

  <label for="lname">Tipo:</label><br>
  <input type="text" asp-for="Tipo">
  
  <button type="submit" class="btn btn-block btn-success">Registrar</button>
</form>